body {
  margin: 0;
  padding: 0;
}
.orange-color {
  color: orange;
}
.first-section {
  display: flex;
  padding: 10px;
}
section img {
  width: 200px;
  height: 200px;
}
.mission {
  text-align: center;
}
.span-two {
  color: orange;
}
.second-section {
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
.first-div {
  border: 1px solid gray;
  background-color: #edf5f6;
  margin-right: 10px;
  border-radius: 8px;
  padding: 8px;
}
.second-div {
  border: 1px solid gray;
  background-color: #ffeeee;
  margin-right: 10px;
  border-radius: 8px;
  padding: 20px;
}
.third-div {
  border: 1px solid gray;
  background-color: #fff4d6;
  border-radius: 8px;
  padding: 8px;
}
.third-section {
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
.coding-img {
  margin-right: 50px;
}
.fourth-section {
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
.project-img {
  margin-left: 50px;
}
footer {
  background-color: black;
  height: 200px;
}
.white {
  color: white;
}
footer h1 {
  text-align: center;
}
footer h6 {
  text-align: center;
}
button {
  background-color: orangered;
}
button:hover {
  background-color: orchid;
}
.index-div {
  width: 60%;
  margin-right: 60px;
}
div h1 {
  font-size: 20px;
}
div img {
  width: 150px;
  height: 150px;
}
.own img {
  width: 250px;
  height: 250px;
  padding: 2px;
}
.own h1 {
  text-align: center;
}
